table, th, td {
  border: 2px solid white;
  background-color:grey;
  }
  th {
  	background-color:grey;
  	color:white;
  	padding:20px;
  }
  td {
  	padding:20px;
  }
 h1 {
  text-align:center;
  font-family:sans-serif;
 }